<form class="mb-20" method="get" action="{:\\think\\Url::build($Request.action)}">
    <input type="text" class="input-text" style="width:250px" placeholder="编号" name="id" value="{$Request.param.id}" >
    <input type="text" class="input-text" style="width:250px" placeholder="学生学号" name="student_num" value="{$Request.param.student_num}" >
    <input type="text" class="input-text" style="width:250px" placeholder="学生姓名" name="student_name" value="{$Request.param.student_name}" >
    <div class="select-box" style="width:250px">
        <select name="gender" class="select">
            <option value=""></option>
        </select>
    </div>
    <div class="select-box" style="width:250px">
        <select name="year" class="select">
            <option value=""></option>
        </select>
    </div>
    <div class="select-box" style="width:250px">
        <select name="collage_id" class="select">
            <option value=""></option>
        </select>
    </div>
    <div class="select-box" style="width:250px">
        <select name="profession_id" class="select">
            <option value=""></option>
        </select>
    </div>
    <div class="select-box" style="width:250px">
        <select name="class_id" class="select">
            <option value=""></option>
        </select>
    </div>
    <button type="submit" class="btn btn-success"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
</form>