<td><input type="checkbox" name="id[]" value="{$vo.id}"></td>
<td>{$vo.id|high_light=$Request.param.id}</td>
<td>{$vo.student_num|high_light=$Request.param.student_num}</td>
<td>{$vo.student_name|high_light=$Request.param.student_name}</td>
<td>{$vo.id_number}</td>
<td>{$vo.gender==1?"男":"女"}</td>
<td>{$vo.nation}</td>
<td>{$vo.birthday}</td>
<td>{$vo.phone}</td>
<td>{$vo.address}</td>
<td>{$vo.face|face=$vo.face}</td>
<td>{$vo.year}</td>
<td>{$vo.collage_name.collage_name}</td>
<td>{$vo.profession_name.profession_name}</td>
<td>{$vo.class_name.class_name}</td>